#define EP_LIGHTNING DIRECTION_NUMBER
    [attack_anim]
        [filter_attack]
            name=lightning bolt
        [/filter_attack]

        [if]
            direction=sw,s,se

            [missile_frame]
                begin=-250
                end=150
                halo=halo/lightning-bolt-{DIRECTION_NUMBER}-1.png~FL(vert):100,halo/lightning-bolt-{DIRECTION_NUMBER}-2.png~FL(vert):100,halo/lightning-bolt-{DIRECTION_NUMBER}-3.png~FL(vert):100,halo/lightning-bolt-{DIRECTION_NUMBER}-4.png~FL(vert):100
                halo_y=-125
                offset=1.0
            [/missile_frame]
        [/if]
        [else]
            direction=nw,n,ne

            [missile_frame]
                begin=-250
                end=150
                halo=halo/lightning-bolt-{DIRECTION_NUMBER}-1.png:100,halo/lightning-bolt-{DIRECTION_NUMBER}-2.png:100,halo/lightning-bolt-{DIRECTION_NUMBER}-3.png:100,halo/lightning-bolt-{DIRECTION_NUMBER}-4.png:100
                halo_y=-125
                offset=1.0
            [/missile_frame]
        [/else]

        [if]
            hits=yes
            [frame]
                begin=-300
                end=-200
                image="units/human-magi/elder-mage-ranged1.png"
                sound=lightning.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-300
                end=-200
                image="units/human-magi/elder-mage-ranged1.png"
                sound=lightning-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-200
            end=-100
            image="units/human-magi/elder-mage-ranged2.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/human-magi/elder-mage-ranged3.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/human-magi/elder-mage-ranged2.png"
        [/frame]
        [frame]
            begin=200
            end=250
            image="units/human-magi/elder-mage-ranged1.png"
        [/frame]
    [/attack_anim]
#enddef
